a {
    background: #FF6F21;
    border: none;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    position: relative;
    text-decoration: none;
    width: 100px
}

a:before{
    background: #FF6F21;
    border: none;
    content: '';
    display: block;
    height: 20px;
    left: 90px;
    position: absolute;
    top: 4px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 22px;
}
a button {
	float:right;
    color: red;
    background: none;
    border: none;
    font-weight: bold;
	font-size:25px;
    position: relative;
    width: 120px;
    height: 28px;
}
.fixe {
  
  margin-bottom: 0;
  margin-left: 200;
	height:100px;
	width:100px;
	
}