
.container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;	
}
.container.open-sidebar {
    left: 240px;
}
#sidebar {
    background-color: #DF314D !important;
    position: absolute;
    width: 240px;
    height: 100%;
    left: -240px;
	top:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
overflow-y:auto;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar ul li {
    margin: 0;
}
#sidebar ul li a {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #C9223D;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}
#sidebar ul li:hover a {
    background: #C9223D;
}

 #sidebar-toggle {
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;

}

 #sidebar-toggle .bar:last-child{
     margin-bottom: 0px;   
}