body, html {
    height: 100%;
    margin: 0;
    font-family: helvetica;
    font-weight: 100;
    background-color:#910606;
overflow:hidden;
	}
#header{
	height:15%;
	background-color:#FF6F21;
}
#leftnav{
padding-top:25px;
float:left;
padding-left:7px;
padding-right:4%;
}
#bu1{
	background-color:#FF6F21;
}
#main_heading{
		font-weight:bold;
	padding-top:10px;
	font-size:35;
	color:black;
	margin-left:22%;
	float:left;
}
#kaliPati{
	background-color:black;
	height:15%;
	width:100%;
	}
#select_exam{
	-webkit-box-sizing:border-box;
	width:100%;
	height:100%;
	color:white;
	padding-left:27%;
	padding-top:20px;
	float:left;
}
table {
    border-style:solid;
	background-color:black;
	-webkit-border-top-left-radius: 8px;
	-wzebkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	width:35%;
	height:40%;
	float:left;
	margin-left:30%;
	margin-top:60px;
}

table, td {
    border: 1px solid black
}
th{
	text-align: center;
font-weight:bold;
font-size:150%;
color:#FF6F21;
background-color:#910606;
}

td {text-align: center;
background-color:#910606;
font-weight:bold;
font-size:150%;
color:white;
}
td:hover{
background-color:#F24954;	
}
